/****** Object:  Database [WarehouseSales]    Script Date: 17-08-2026 18:41:07 ******/
CREATE DATABASE [WarehouseSales]  (EDITION = 'Standard', SERVICE_OBJECTIVE = 'S0', MAXSIZE = 250 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  User [testsynapsemgn]    Script Date: 17-08-2026 18:41:07 ******/
CREATE USER [testsynapsemgn] FROM  EXTERNAL PROVIDER  WITH DEFAULT_SCHEMA=[dbo]
GO
sys.sp_addrolemember @rolename = N'db_ddladmin', @membername = N'testsynapsemgn'
GO
sys.sp_addrolemember @rolename = N'db_datareader', @membername = N'testsynapsemgn'
GO
sys.sp_addrolemember @rolename = N'db_datawriter', @membername = N'testsynapsemgn'
GO
/****** Object:  Schema [SalesWH]    Script Date: 17-08-2026 18:41:07 ******/
CREATE SCHEMA [SalesWH]
GO
/****** Object:  Table [SalesWH].[DimCustomer]    Script Date: 17-08-2026 18:41:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SalesWH].[DimCustomer](
	[CustomerID] [int] NULL,
	[NameStyle] [bit] NULL,
	[Title] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[MiddleName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Suffix] [nvarchar](max) NULL,
	[CompanyName] [nvarchar](max) NULL,
	[SalesPerson] [nvarchar](max) NULL,
	[AddressType] [nvarchar](max) NULL,
	[AddressLine1] [nvarchar](max) NULL,
	[AddressLine2] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[StateProvince] [nvarchar](max) NULL,
	[CountryRegion] [nvarchar](max) NULL,
	[EmailAddress] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[PasswordSalt] [nvarchar](max) NULL,
	[rowguid] [nvarchar](max) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[Hashvalue] [nvarchar](max) NULL,
	[DimCustomerSK] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [SalesWH].[DimProduct]    Script Date: 17-08-2026 18:41:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SalesWH].[DimProduct](
	[ProductID] [int] NULL,
	[Name] [nvarchar](max) NULL,
	[ProductNumber] [nvarchar](max) NULL,
	[Color] [nvarchar](max) NULL,
	[StandardCost] [decimal](20, 4) NULL,
	[ListPrice] [decimal](20, 4) NULL,
	[Size] [nvarchar](max) NULL,
	[ProductCategoryName] [nvarchar](max) NULL,
	[ProductModelName] [nvarchar](max) NULL,
	[CatalogDescription] [nvarchar](max) NULL,
	[Culture] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Weight] [decimal](20, 4) NULL,
	[SellStartDate] [datetime2](7) NULL,
	[SellEndDate] [datetime2](7) NULL,
	[DiscontinuedDate] [datetime2](7) NULL,
	[ThumbNailPhoto] [varbinary](max) NULL,
	[ThumbnailPhotoFileName] [nvarchar](max) NULL,
	[rowguid] [nvarchar](max) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[Hashvalue] [nvarchar](max) NULL,
	[DimProductSK] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [SalesWH].[FactSalesOrderDetails]    Script Date: 17-08-2026 18:41:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SalesWH].[FactSalesOrderDetails](
	[SalesOrderDetailID] [int] NULL,
	[DimProductSK] [bigint] NULL,
	[OrderQty] [smallint] NULL,
	[UnitPrice] [decimal](20, 4) NULL,
	[UnitPriceDiscount] [decimal](20, 4) NULL,
	[LineTotal] [decimal](20, 4) NULL,
	[rowguid] [nvarchar](max) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[Hashvalue] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [SalesWH].[FactSalesOrderHeader]    Script Date: 17-08-2026 18:41:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SalesWH].[FactSalesOrderHeader](
	[DimCustomerSK] [bigint] NULL,
	[RevisionNumber] [int] NULL,
	[OrderDate] [datetime2](7) NULL,
	[DueDate] [datetime2](7) NULL,
	[ShipDate] [datetime2](7) NULL,
	[Status] [int] NULL,
	[OnlineOrderFlag] [bit] NULL,
	[SalesOrderNumber] [nvarchar](max) NULL,
	[PurchaseOrderNumber] [nvarchar](max) NULL,
	[AccountNumber] [nvarchar](max) NULL,
	[CustomerID] [int] NULL,
	[ShipToAddressID] [int] NULL,
	[BillToAddressID] [int] NULL,
	[ShipMethod] [nvarchar](max) NULL,
	[CreditCardApprovalCode] [nvarchar](max) NULL,
	[SubTotal] [decimal](20, 4) NULL,
	[TaxAmt] [decimal](20, 4) NULL,
	[Freight] [decimal](20, 4) NULL,
	[TotalDue] [decimal](20, 4) NULL,
	[Comment] [nvarchar](max) NULL,
	[rowguid] [nvarchar](max) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[Hashvalue] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
